html  {
    font: normal 13px arial;
    }
     
  h1  {
    text-align: center;
    color: black;
    }
     
  h2  {
    text-align: center;
    color: red;
    }
   
  ul {
    list-style: circle;
    color: #888;
    }
     
  ul li a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
    }
     
  ul li a:hover {
    color: #f00;
    }
     
  p {
    color: #456;
    }
     
  /* Capas del ejemplo  */
   
  div#columna {
    border: solid 1px #ccc;
    position: absolute;
    left: 30px;
    top: 80px;
    width: 150px;
    height: 350px;
  }
   
  div#contenido {
    border: solid 1px #ccc;
    position: absolute;
    overflow: hidden;
    left: 200px;
    top: 80px;
    width: 580px;
    height: 350px;
    padding: 0 20px;
  }
   
  div#marco1, div#marco2 {
    height: 100%;
    width: 100%;
  }